body {
    height: 100%;
    background-color:white;
}
nav {
    background-color: black;
}
footer {
    background-color: black;
    color:lightgray;
}




.navbar-brand {
    font-family: 'Brush Script MT', cursive;
}
.btn {
    background-color: blue;
}


.height{height:300px;}

.career{font-weight:800 ;color:mediumpurple;}

ul.list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
}

    ul.list li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        text-align: center;
        color: #fff;
        padding: 5px;
    }

    ul.list li {
        margin-right: 3px;
    }

        .fab.fa-facebook {
            color: darkblue;
        }

        .fab.fa-twitter {
            color: skyblue;
        }

    .fab.fa-linkedin {
    color: darkblue;
        }
#form {
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient( rgb(1, 15, 14), hsla(0, 1%, 41%, 0.829));
    z-index: 999;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 50px;
}





.d-block {
    height: 400px;
}


.pacifico {
    font-family: 'Pacifico', cursive;
}
