<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="descrition" content="Carrier Search, Inc. is a leading provider of job recruitment and related services in the US. It has established a network of more than 150 offices throughout the country. The company is specialized in the areas of accounting, finance, sales, marketing, information technology, and engineering." />
    <meta name="keywords" content="Carrier Search Inc,Carrier,Job,US,accounting, finance, sales, marketing, information technology,engineering " />

    <title>@ViewData["Title"] - CareerSearchInc</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
   

</head>
<body>

  



    <header class="sticky-top">

        <nav class="navbar navbar-light navbar-expand-lg  box-shadow mb-3 font-italic ">
            <h1><a class="navbar-brand  text-white font-weight-bolder pt-4" asp-area="" asp-controller="Home" asp-action="Index">Career Search Inc</a></h1>
            <button class="navbar-toggler bg-white" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jobs
                        </a>
                        <div class="dropdown-menu bg-dark text-center" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-white" asp-area="" asp-controller="JobRecuiter" asp-action="PostJob">Post Job</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link text-white" asp-area="" asp-controller="JobRecuiter" asp-action="SearchJobs">Search Jobs</a>
                            <a class="nav-link text-white" asp-area="" asp-controller="JobSeeker" asp-action="SearchProfile">Search Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link text-white" asp-area="" asp-controller="JobRecuiter" asp-action="TopJobs">Top Jobs</a>
                            <a class="nav-link text-white" asp-area="" asp-controller="JobRecuiter" asp-action="Walking">Walking Jobs</a>
                            <a class="nav-link text-white" asp-area="" asp-controller="JobRecuiter" asp-action="AllJobs">All Jobs</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="CompanyProfile">Company Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="JobSeeker" asp-action="SignUpJob">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="FAQs">FAQs</a>
                    </li>
                </ul>
            </div>
        </nav>

        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer mt-4">
        <div class="container">
            &copy; 2020 - Career Search Inc
            <div class="pb-2 float-right">
                <ul class="list d-inline-flex text-center text-decoration-none">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-twitter "></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
            </div>
        </div>



    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/js/site.js"></script>*@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/newjs.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
