
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card bg-transparent">
    <img src="~/images/5.svg" class="img-fluid" alt="...">
    <div class="card-img-overlay">
        <h1 class=" about text-center text-dark">
            Welcome to <br />
            <span class="career">Career Search Inc!</span><br />
        </h1>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10 text-danger font-italic text-secondary pt-3 text-center">

                <h4>We believe in the value that our functions add to a business.</h4>
                <h4>We device on recruiting with the best approach which has enable</h4>
                <h4>us to be recognised for the contribution to the</h4>
                <h4>profitability and success of a business.</h4><br />

               

            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 font-italic text-secondary pt-3 text-center">

                <p>
                    Founded in 2000, we are a Human resource consulting company with head office in New York.
                    We are a proud USA operation offering local support and services in the area of Human resource
                    solutions with service offerings which include world class personnel outsourcing, e-recruitment, head
                    hunting, training and development, quality management solutions, outplacements, verification, computer
                    based pre-assessment and competency testing as well as Business process outsourcing.
                </p><br />
                <p>
                    Since 2007, we have maintained a steady annual growth rate of over 500% and in 2013, were recognized at
                    the Allworld Summit and given a Certificate of excellence. We were also recognized by Allworld Network USA
                    and Harvard Business School  at the US Fast Growth 50 Award event where Career search inc received an award
                    as one of the 50 fastest growing private firms in USA with the company placing 11th .
                </p>

                <p>
                    As a business, we draw our competitive strength from active international
                    partnerships with organisations such as Ersnt & Young, Microsoft, George Town University,
                    McDonough School of Business, Washington DC, Eskills Test and Assessment (USA),
                    Procall Sollutions(SA) and Synergy International, UK. We also draw on our length of experience
                    as we have been providing Managed/Outsourcing services to our valued customers while engaging
                    cutting edge techniques, and highly skilled professionals to provide cost effective solutions
                    for over 13 years. Our clients cut across the different industries in Nigeria as we have worked
                    for major Telecoms companies, financial institutions/Banks, FMCG, Oil & Gas Companies and many more
                    for several years.
                </p>

            </div>
            <div class="col-md-5">
                <img src="~/images/d.jpg" alt="..." class="img-fluid">
            </div>

        </div>

    </div>

    <h1 class="text-center font-italic">About Us</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/3.svg" class="card-img img-fluid" alt="...">
            </div>
            <p class="font-italic col-md-6">
                Carrier Search, Inc. is a leading provider of job recruitment and related services in the US. It has established a network of
                more than 150 offices throughout the country. The company is specialized in the areas of accounting, finance, sales, marketing,
                information technology, and engineering. It has tie ups with the best employers of all functional areas. The company provides
                services for full time, part time, temporary, and contract employment.
            </p>
            <div class="col-md-3">
                <img src="~/images/4.svg" class="card-img img-fluid" alt="...">
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5>65 Leeds way Texas USA</h5>
            <h5 >careerinc@@gmail.com</h5>
            <h5>+2348135327087</h5>
            <div class="pb-2 ">
                <span class="font-weight-bolder">Follow Us:</span>
                <ul class="list d-inline-flex text-center text-decoration-none">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-twitter "></a></li>
                    <li><a href="#" class="fab fa-linkedin "></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

