@{
    ViewData["Title"] = "CompanyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container">
    <h1 class="career text-center">Top Companies we work with</h1>

    <div class="container">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="~/images/y.png" alt="..." class="img-fluid w-50 ">
            </div>
            <div class="col-md-6 font-italic text-secondary pt-3 float-left">
                <p>
                    established as an umbrella Association for Practitioners of Personnel Management in 1968 as the Personnel
                    Management Association of Nigeria. In 1973, it was renamed as Institute of Personnel Management of Nigeria. Finally,
                    Act No 58 of 1992 chartered the Institute.
                </p>

            </div>
            <div class="col-md-2"></div>

            <div class="col-md-2"></div>
            <div class="col-md-6 font-italic text-secondary pt-3 float-right">
                <p>
                    established as an umbrella Association for Practitioners of Personnel Management in 1968 as the Personnel
                    Management Association of Nigeria. In 1973, it was renamed as Institute of Personnel Management of Nigeria. Finally,
                    Act No 58 of 1992 chartered the Institute.
                </p>

            </div>

            <div class="col-md-3">
                <img src="~/images/w.png" alt="..." class="img-fluid w-50 ">
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="~/images/t.png" alt="..." class="img-fluid w-50 ">
            </div>
            <div class="col-md-6 font-italic text-secondary pt-3 float-left">
                <p>
                    established as an umbrella Association for Practitioners of Personnel Management in 1968 as the Personnel
                    Management Association of Nigeria. In 1973, it was renamed as Institute of Personnel Management of Nigeria. Finally,
                    Act No 58 of 1992 chartered the Institute.
                </p>

            </div>
            <div class="col-md-2"></div>

            <div class="col-md-2"></div>
            <div class="col-md-6 font-italic text-secondary pt-3 float-right">
                <p>
                    established as an umbrella Association for Practitioners of Personnel Management in 1968 as the Personnel
                    Management Association of Nigeria. In 1973, it was renamed as Institute of Personnel Management of Nigeria. Finally,
                    Act No 58 of 1992 chartered the Institute.
                </p>

            </div>

            <div class="col-md-3">
                <img src="~/images/v.png" alt="..." class="img-fluid w-50 ">
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="~/images/u.png" alt="..." class="img-fluid w-50 ">
            </div>
            <div class="col-md-6 font-italic text-secondary pt-3 float-left">
                <p>
                    established as an umbrella Association for Practitioners of Personnel Management in 1968 as the Personnel
                    Management Association of Nigeria. In 1973, it was renamed as Institute of Personnel Management of Nigeria. Finally,
                    Act No 58 of 1992 chartered the Institute.
                </p>

            </div>
            <div class="col-md-2"></div>




        </div>
        </div>
</section>