
@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-italic text-center career font-weight-bolder">FAQs</h1>
<div class="container">
    <div class="row no-gutters">

        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">How do i apply?</h1>
                <h5 class="font-italic">Sign up with your full details and search for any available job related to your discipline or experience</h5>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/11 (1).svg" class="card-img" alt="...">
        </div>

        <div class="col-md-6">
            <img src="~/images/11 (2).svg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">How quickly will i get a job?</h1>
                <h5 class="font-italic">We have multiple jobs in our platform just apply to any one you have knowledge or experience in
                and be fully prepared for the interview then you guaranteed a job</h5>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">Do you have career courses i can take to facilitate my chances?</h1>
                <h5 class="font-italic">We have varities of courses you can take that can boost your chances of getting a job from
                the companies we recruit for be it administration,human resourses etc</h5>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/11 (3).svg" class="card-img" alt="...">
        </div>

        <div class="col-md-6">
            <img src="~/images/11 (4).svg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">What is your major requirement?</h1>
                <h5 class="font-italic">We recruit all types of qualification be it first school leaving certificate,ND,HND,BSc,MSc,PHD etc</h5>
            </div>
        </div>
    </div>
</div>
