
@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-italic text-center career font-weight-bolder">FAQs</h1>
<div class="container">
    <div class="row no-gutters">

        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">How do i apply?</h1>
                <h5 class="font-italic">Sign up with your full details and search for any available job related to your discipline or experience</h5>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/11 (1).svg" class="card-img" alt="...">
        </div>

        <div class="col-md-6">
            <img src="~/images/11 (2).svg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">How quickly will i get a job?</h1>
                <h5 class="font-italic">
                    We have multiple jobs in our platform just apply to any one you have knowledge or experience in
                    and be fully prepared for the interview then you guaranteed a job
                </h5>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">Do you have career courses i can take to facilitate my chances?</h1>
                <h5 class="font-italic">
                    We have varities of courses you can take that can boost your chances of getting a job from
                    the companies we recruit for be it administration,human resourses etc
                </h5>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/11 (3).svg" class="card-img" alt="...">
        </div>

        <div class="col-md-6">
            <img src="~/images/11 (4).svg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div>
                <h1 class="font-italic career">What is your major requirement?</h1>
                <h5 class="font-italic">We recruit all types of qualification be it first school leaving certificate,ND,HND,BSc,MSc,PHD etc</h5>
            </div>
        </div>
    </div>
</div>




<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/images/undraw_questions_75e0.png" width="650" />
        </div>
        <div class="col-md-12">
            <h3 class="display-4 text-center">FAQ's</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How Do i Sign Up?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How Soon Will I get a job offer?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How much will i pay?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

